.hero{
height:100vh;
display:flex;
justify-content:center;
align-items:center;

background:
linear-gradient(
135deg,
#56ab2f,
#a8e063,
#f7b733
);

overflow:hidden;
}

.glass{
backdrop-filter:blur(20px);
background:rgba(255,255,255,.15);
padding:50px;
border-radius:30px;
border:1px solid rgba(255,255,255,.3);
box-shadow:
0 8px 32px rgba(0,0,0,.2);

text-align:center;
}

.glass h1{
font-size:5rem;
}

.glass button{
margin-top:20px;
padding:15px 35px;
border:none;
border-radius:50px;
background:white;
font-weight:bold;
cursor:pointer;
}